<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VUE</title>
</head>
<body>
	<style>
		body{
			background: #333;
			color: #fff;
		}
	</style>



	<div id="text">
		{{ message }}
	</div>
	<br>
	<br>
	<div id="app-2">
		<span v-bind:title="message">
			Наведи на меня курсор на пару секунд,
			чтобы увидеть динамически связанное значение title!
		</span>
	</div>
	<br>
	<br>

	<div id="app-3">
		<span v-if="seen">Сейчас меня видно</span>
	</div>
	<br><br>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>

	<br><br>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">Перевернуть сообщение</button>
	</div>

	<br><br>

	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>

	<br><br>

	

	<br><br>

	<div id="app-7">
		<ol>
			<todo-item
			v-for="item in groceryList"
			v-bind:todo="item"
			v-bind:key="item.id"
			></todo-item>
		</ol>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
	<script src="testBasic.js"></script>
</body>
</html>